body{
    color: #ede1e1;
    background-color: #2e2c2d;
    padding: 10px;
    margin: 0;
    font-family: "ABeeZee";
}
.header_3{
    text-align: center;
}
.badahead_3{
    display: flex;
    gap: 60px;
    /* margin-left: 20px; */
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1{
    margin:0;
}
h2{
    font-size: 35px;
    letter-spacing: 10px;
}
.badahead_2{
    display: flex;
    overflow: hidden;
}
.heading_1{
    text-align: center;
}
@keyframes slideright {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(1400px);
    }
}
.heading_2{
    animation: slideright 5s linear infinite;
}

header{
    font-size: 23px;
    background-color: #2e2c2d;
    text-align: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    /* margin-left: 20px; */
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: auto;
}
h3{
    letter-spacing: 5px;
}
.card_1{
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    background-color: #db8831;
    /*border: 2px solid white;*/
    border-radius: 22px;
    width: 20%;
    height: auto;
    transition: 1s;
}
#topings{
    flex-wrap: wrap;
    background-color: #db8831;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    transition: 500ms;
}
#topings:hover{
     font-weight: bold;
        background-color: #e1b485;
}
.range{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button_1{
    border-radius: 17px;
    margin-top: 20px;
    background-color: #db8831;
    width: 80px;
    height: 30px;
    transition: 300ms;
}
.button_1:hover{
    font-weight: bold;
    background-color: #e1b485;
    
}
.main2{
    /* display: flex; */
    /* margin-left: 54px; */
    margin-bottom: 40px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
    .card_1{
        width: 156px;
        height: auto;
    }
}