*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 112, 234);
    width: 100%;
    height: 99px;
}
.nav{
    display: flex;
    background-color: rgb(121, 112, 234);
    padding-right: 30px;
    padding-bottom: 15px;
    justify-content: end;
    align-items: center;
}
.nav>a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-head{
    font-size: 40px;
}
form{
    gap: 40px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NAME{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.EMAIL{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.COMMENT{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 600px;
    height: auto;
}
label{
    font-weight: 600;
    font-size: 20px;
}
.input{
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(121, 112, 234);
    width: 600px;
    height: 24px;
    padding: 8px;
    border-radius: 3px;
}
#comment{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(121, 112, 234)
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 46px;
    }
    
    .sub-head{
        font-size: 30px;
    }
    .input{
        width: 330px;
        height: 22px;
    }
    form{
        width: 339px;
        height: auto;
    }
    .COMMENT{
        align-items: center;
        width: 400px;
    }
}